<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webcam Demo</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
</head>
<body>
    <div class="wrap">
        <div class="main">
            <h1>Post Your Posture</h1>
            <div class="box">
                <video id="videoElement" autoplay></video>
                <div class="box2">
                    <div class="notandum">
                        <h2>주의사항</h2>
                        <p>- <b>완전한 측면</b>으로 촬영하십시오.</p>
                        <p>- 촬영 범위는 <b>머리부터</b> 허리 밑 <b>골반까지</b> 나와야 합니다.</p>
                        <p>- 자리에서 이탈하는 경우 정상적인 측정이 어려울 수 있습니다.</p>
                    </div>
                    <img src="{% static 'images/pictogram.png' %}" alt="pictogram">
                    <button id="startButton">Start</button>
                </div>
            </div>
        </div>
    </div>
    <div id="timer">60:00</div>
    <a href="{% url 'analyze_neck' %}">Analyze Neck Posture</a>
    <a href="{% url 'analyze_back' %}">Analyze Back Posture</a>
    <script src="{% static 'js/MediaStream.js' %}"></script>
    <script src="{% static 'js/Countdown.js' %}"></script>
</body>
</html>